.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-column-gap: 10px;
  max-width: 415px;
  align-items: center;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  background: transparent url(../images/pencil.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.profile__description {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  padding: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add-button {
  display: flex;
  background: transparent url(../images/Add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__card-add-button {
  display: flex;
  background: transparent url(../images/Add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 760px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 26.25px;
    max-width: 282px;
  }

  .profile__add-button {
    width: 282px;
    margin: 0;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.67px;
    max-width: 196px;
  }

  .profile__description {
    padding-top: 14px;
    padding-bottom: 36px;
    line-height: 16.94px;
    font-size: 14px;
    max-width: 282px;
  }
}

@media screen and (max-width: 620px) {
  .profile__title {
    align-items: center;
    flex-wrap: wrap;
  }

  .profile__edit-button {
    display: flex;
    width: 18px;
    height: 18px;
  }

  .profile__description {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    font-size: 22px;
    line-height: 26.67px;
  }
}
